.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check label {
  margin-left: 5px;
}
/* .checkbox input[type="checkbox"] {
  width: 17px;
  align-items: center;
} */
