.contact-form-container {
  max-width: 800px;

  padding: 30px;
  border: 2px solid black;
  /* Add black border */
}

.contact-form-container h5 {
  text-align: center;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
}

.contact-form-container label {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .contact-form-container {
    max-width: 100%;
  }

  .contact-form-container form {
    flex-direction: column; /* Change direction to column on smaller screens */
  }

  .contact-form-container label {
    margin-bottom: 5px; /* Adjust spacing */
  }
}
.cityphn,
.ogiName {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(50px, 1fr)
  ); /* Adjusted minmax value */
  gap: 10px;
  margin-bottom: 10px;
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
  .cityphn,
  .ogiName {
    grid-template-columns: 1fr; /* Set one column for smaller screens */
  }
}

.flex {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(50px, 1fr)
  ); /* Adjusted minmax value */
  gap: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .flex {
    grid-template-columns: 1fr; /* Set one column for smaller screens */
  }
}

.border-2 {
  border-bottom: 2px solid black;
  /* Adjust border style and color as needed */
}
.borderStyle {
  border-right-style: 1 solid;
  border-left-style: solid;
}

.small-input .MuiInputBase-input {
  padding: 5px 5px !important;
  font-size: 0.85rem !important;
}
.flex-up {
  border-right: 1px solid black;
  padding: 5px;
}

.flex-up h6 {
  font-size: 0.85rem !important;
}

@media (max-width: 600px) {
  div[style] {
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  div[style] {
    flex-direction: row;
    flex-wrap: wrap;
  }
  div[style] > div {
    flex: 1 1 45%;
  }
}

.system {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* First and third div take equal width, middle div adjusts automatically */
  gap: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check label {
  margin-left: 5px;
}
