.contact-form-container {
    max-width: 900px;
    margin: 10px auto;
    padding: 50px;
    border: 2px solid black; 
    /* Add black border */

    
  }
  .contact-form-container-footer{
    max-width: 900px;
    margin: 10px auto;
    

  }
  
  .contact-form-container h2 {
    text-align: center;
  }
  
  .contact-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form-container label {
    margin-bottom: 10px;
  }
  
  .contact-form-container input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    flex: 1; 
    width: 100%; 
   
  }
  
  .contact-form-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .contact-form-container {
      max-width: 100%;
    }
  
    .contact-form-container form {
      flex-direction: column; /* Change direction to column on smaller screens */
    }
  
    .contact-form-container label {
      margin-bottom: 5px; /* Adjust spacing */
    }
  }
  .cityphn, .ogiName {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust column size based on available space */
    gap: 30px;
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 768px) {
    .cityphn, .ogiName {
        grid-template-columns: 1fr; /* Set one column for smaller screens */
    }
}

 .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }
 .border-2{
    border-bottom: 2px solid black; 
    /* Adjust border style and color as needed */

 }
 .borderStyle{
    border-right-style: 1 solid;
    border-left-style: solid;

 }
 